<html>
<body>
fdsq
fdqs
f
dqs
<link rel="stylesheet" href="css/style.css" type="text/css" />
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/backbone-min.js"></script>
<script src="js/backbone.paginator.js"></script>
<script src="js/vendor/backbone.marionette/backbone.marionette.min.js"></script>
 
  <script src="js/frontend/ui.js"></script>

 
<script src="js/pubsub.js"></script>
<script src="js/api.js"></script>
<script src="js/app.js"></script>
<script src="js/models/artist.js"></script>
<script src="js/views/artist.js"></script>
<script>
   $(document).ready(function() {
   

   var app = {
      init: function() {
        //PubSub.subscribe('auth.loggedIn', site.setToken); 

        /*
        var res = api.request({
          type: 'GET',
          dataType: 'json',
          url: 'https://api.artsy.net/api/artists/4d8b92b34eb68a1b2c0003f4'
          //data: auth
        });

        res.done(function(data) {
        //  console.log(data);
        });  
      */  
      var Book = Backbone.Model.extend({

      });

      /*https://github.com/backbone-paginator/backbone.paginator#browser*/
     var BooksCollection = Backbone.PageableCollection.extend({
        state: {
          firstPage: 0,
          currentPage: 0,
          totalRecords: 500,
        },
        queryParams: {
          currentPage: "current_page",
          pageSize: "page_size"
        }
     });

     var books = [];
    for (x = 0; x < 1000; x++) {
        var book = new Book();
        book.set('titel', 'nieuw boek' + x);
        books.push(book);
      }
     var myBooks = new BooksCollection(books, { mode: 'client'});

      console.log(JSON.stringify(myBooks.getFirstPage()));      
     console.log(JSON.stringify(myBooks.getNextPage()));
     console.log(JSON.stringify(myBooks.getNextPage()));
     console.log(JSON.stringify(myBooks.getLastPage()));
     // console.log(myBooks);

      var BooksListView = Backbone.View.extend({
          model: Book,
          render: function() {
            var view = this.collection.map(function(book) {
                //console.log(book);
                return '<div>'+book.get('titel')+'</div>';
            });
            $(this.el).html(view);
            return this;
          }
      });

      booksListView = new BooksListView({ el: $('#booksList'), collection: myBooks.getLastPage() });
      booksListView.render();

        var artists = new App.Artists;
        //art.id  = '4d8b92b34eb68a1b2c0003f4';
        artists.fetch({
          success: function() {
            //console.log(artists.models);
            //console.log(artists.length);
            var artistsListView = new App.ArtistListView({ collection: artists });
            $('#artistsList').html(artistsListView.render().el);
            //console.log(artistsListView.render().el);
            console.log(artists.at(0));
            console.log(artists.get('52c721e5b202a3edf1000072'));
          
          }
        });


        var artist = new App.Artist({ id: '4d8b92b34eb68a1b2c0003f4'});
        artist.fetch({
          success: function() {
            /*
            console.log(artist);
            console.log(artist.get('name'));
            */
            var artistView = new App.ArtistView({ el: $('#artistDetail'), model: artist});
            artistView.render();
          }
        });
      }
   }    
   api.init();
   app.init();
   });
 </script>

<div id="booksList">
</div>

 <ul id="artistsList">
 </ul>

 <div id="artistDetail">
 </div>

<script type="text/html" id="tplArtist">
    <strong>Name: <%= name %></strong>
    <div>Biography:<%= biography %></div>
    <div>Hometown: <%= hometown %></div>
    <img src="<%= _links.thumbnail.href %>" alt="" />
</script>


</body>
</html>