<html>
<body>
fdsq
fdqs
f
dqs
<link rel="stylesheet" href="css/style.css" type="text/css" />
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="http://backbonejs.org/backbone-min.js"></script>
<script src="js/vendor/backbone.marionette/backbone.marionette.min.js"></script>
 
  <script src="js/frontend/ui.js"></script>

 
<script src="js/pubsub.js"></script>
<script src="js/api.js"></script>
<script src="js/app.js"></script>
<script src="js/models/artist.js"></script>
<script src="js/views/artist.js"></script>
<script>
   $(document).ready(function() {
   
   

   var app = {
      init: function() {
        //PubSub.subscribe('auth.loggedIn', site.setToken); 

        /*
        var res = api.request({
          type: 'GET',
          dataType: 'json',
          url: 'https://api.artsy.net/api/artists/4d8b92b34eb68a1b2c0003f4'
          //data: auth
        });

        res.done(function(data) {
        //  console.log(data);
        });  
      */  
      var Boek = Backbone.Model.extend({

      });

      boek = new Boek();
      boek.set('titel', 'nieuw boek');
      console.log(boek);

        var artists = new App.Artists;
        //art.id  = '4d8b92b34eb68a1b2c0003f4';
        artists.fetch({
          success: function() {
            //console.log(artists.models);
            //console.log(artists.length);
            var artistsListView = new App.ArtistListView({ collection: artists });
            $('#artistsList').html(artistsListView.render().el);
            //console.log(artistsListView.render().el);
            console.log(artists.at(0));
            console.log(artists.get('52c721e5b202a3edf1000072'));
          
          }
        });


        var artist = new App.Artist({ id: '4d8b92b34eb68a1b2c0003f4'});
        artist.fetch({
          success: function() {
            /*
            console.log(artist);
            console.log(artist.get('name'));
            */
            var artistView = new App.ArtistView({ el: $('#artistDetail'), model: artist});
            artistView.render();
          }
        });
      }
   }    
   api.init();
   app.init();
   });
 </script>


 <ul id="artistsList">
 </ul>

 <div id="artistDetail">
 </div>

<script type="text/html" id="tplArtist">
    <strong>Name: <%= name %></strong>
    <div>Biography:<%= biography %></div>
    <div>Hometown: <%= hometown %></div>
    <img src="<%= _links.thumbnail.href %>" alt="" />
</script>


</body>
</html>